.menu {
    background-image: url(../../images/bg-pattern.jpg);
    background-repeat: repeat;
    background-size: auto;
    background-position: center;
    padding: 100px 0;
}

.our-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.our-menu h2 {
    color: #fff;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

.menu-sort {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    gap: 20px;
    flex-wrap: wrap;
}

.menu-sort-img {
    margin-bottom: 20px;
    width: calc(25% - 20px);
}

.menu-sort a {
    color: #000;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    transition: .4s;
}

.menu-sort button {
    background-color: #ffcc33;
    border: none;
    padding: 8px 16px;
    transition: .4s;
}

.menu-sort button:hover {
    background-color: #b8b8b8;
}

.menu-sort button:hover a {
    color: #fff;
}

.menu-sort-img img {
    transition: .4s;
}

.menu-sort-img img:hover {
    opacity: .5;
}

.menu-sort-img-hover img {
    transition: .4s;
}

.menu-sort-img-hover img:hover {
    opacity: .5;
}

.menu-dop {
    width: 100%;
    flex-wrap: wrap;
}

@media(max-width: 1200px) {
    .menu-sort-img {
        width: calc(50% - 20px);
    }
}

@media (max-width: 1200px) {
    .menu-sort-img:last-child {
        display: flex;
    }
    .main-slider-img-card {
        width: calc(33.33% - 20px);
    }
    .menu-dop {
        justify-content: start;
        gap: 20px;
    }
}

@media (max-width: 900px) {
    .menu-sort-img:nth-child(3) {
        display: flex;
    }
    .main-slider-img-card {
        width: calc(50% - 20px);
    }
    .menu-dop {
        justify-content: space-between;
    }
}

@media (max-width: 950px) {
    .menu-sort {
        justify-content: flex-start;
    }
}

@media (max-width: 600px) {
    .menu-sort-img:nth-child(2) {
        display: flex;
    }
    .main-slider-img-card {
        width: calc(100% - 20px);
    }
    .menu-dop {
        justify-content: center;
    }
}

@media (max-width: 400px) {
    .our-menu h2 {
        font-size: 30px;
    }
    .our-menu {
        gap: 20px;
    }
}

